<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="a200_wheel">
    <xacro:macro name="a200_wheel" params="wheel_prefix use_gazebo wheel_length wheel_radius *joint_pose">

        <link name="${wheel_prefix}_wheel">
            <inertial>
                <mass value="2.637" />
                <origin xyz="0 0 0" />
                <inertia ixx="0.02467" ixy="0" ixz="0" iyy="0.04411" iyz="0" izz="0.02467" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <!-- <mesh filename="package://clearpath_platform_description/meshes/a200/wheel.dae" /> -->
                    <mesh filename="file://$(find clearpath_platform_description)/meshes/a200/wheel.dae" /> <!-- Use this for Gazebo -->
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="${pi/2} 0 0" />
                <geometry>
                    <cylinder length="${wheel_length}" radius="${wheel_radius}" />
                </geometry>
            </collision>
        </link>

        <!-- Gazebo simulation settings -->
        <xacro:if value="${use_gazebo}">
            <!-- Wheel settings -->
            <gazebo reference="${wheel_prefix}_wheel">
                <mu1 value="1.0"/> <!-- Vertical friction coefficient -->
                <mu2 value="0.5"/> <!-- Lateral and longitudinal friction coefficients -->
                <kp value="100000000000000000000.0" /> <!-- Stiffness coefficient -->
                <kd value="1.0" /> <!-- Damping coefficient -->
                <fdir1 value="1 0 0"/> <!-- Direction of the friction/wheel axis -->
            </gazebo>
            <!-- Wheel slip plugin (Ignition/Gazebo) -->
            <gazebo>
                <!-- Use the installed Ignition plugin library name and fully-qualified system name -->
                <plugin filename="libignition-gazebo-wheel-slip-system.so" name="ignition::gazebo::systems::WheelSlip">
                    <wheel link_name="${wheel_prefix}_wheel">
                        <slip_compliance_lateral>1.0</slip_compliance_lateral>
                        <slip_compliance_longitudinal>1.0</slip_compliance_longitudinal>
                        <wheel_normal_force>113</wheel_normal_force>
                        <wheel_radius>${wheel_radius}</wheel_radius>
                    </wheel>
                </plugin>
            </gazebo>
        </xacro:if>

        <!-- Parent joint is handled by the caller -->
        <!-- <joint name="${wheel_prefix}_wheel_joint" type="continuous">
            <parent link="base_link"/>
            <child link="${wheel_prefix}_wheel"/>
            <xacro:insert_block name="joint_pose"/>
            <axis xyz="0 1 0" rpy="0 0 0" />
        </joint> -->
    </xacro:macro>
</robot>