<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="husky_xarm6_mcr">

    <!-- Arguments -->
    <xacro:arg name="use_gazebo" default="false"/>
    <xacro:arg name="use_fake_hardware" default="false"/>
    <xacro:arg name="config_file" default="$(find husky_xarm6_mcr_control)/config/controllers.yaml"/>
    <xacro:arg name="manipulator_ns" default="xarm6"/>
    <xacro:arg name="manipulator_prefix" default=""/>
    <xacro:arg name="platform_ns" default="a200"/>
    <xacro:arg name="platform_prefix" default=""/>
    <xacro:arg name="robot_ip" default="192.168.1.205"/>
    <xacro:arg name="report_type" default="normal"/>

    <!-- HUSKY PLATFORM & ATTACHMENTS -->
    <xacro:include filename="$(find husky_xarm6_mcr_description)/urdf/husky/a200_macro.urdf.xacro"/>
    <xacro:a200 namespace="$(arg platform_ns)" prefix="$(arg platform_prefix)" use_gazebo="$(arg use_gazebo)"/>

    <!-- X-RAIL RISER -->
    <xacro:include filename="$(find husky_xarm6_mcr_description)/urdf/risers/x_rail_macro.urdf.xacro"/>
    <xacro:x_rail_riser namespace="$(arg platform_ns)" prefix="$(arg platform_prefix)" parent_link="$(arg platform_ns)/$(arg platform_prefix)default_mount">
        <origin xyz="0.0 0.0 0.0" rpy="0 0 ${-pi/2}"/>
    </xacro:x_rail_riser>

    <!-- XARM6 -->
    <xacro:include filename="$(find husky_xarm6_mcr_description)/urdf/xarm6/xarm6_macro.urdf.xacro"/>
    <xacro:xarm6 namespace="$(arg manipulator_ns)" prefix="$(arg manipulator_prefix)" model_num="1303" parent_link="$(arg platform_ns)/$(arg platform_prefix)x_rail_riser_link">
        <origin xyz="0.09500000 0 0.31610000" rpy="0 0 ${-pi/2}"/>
    </xacro:xarm6>

    <!-- ROS2_CONTROL -->
    <xacro:include filename="$(find husky_xarm6_mcr_description)/urdf/husky/husky_ros2_control.xacro"/>
    <xacro:husky_ros2_control 
        namespace="$(arg platform_ns)" 
        prefix="$(arg platform_prefix)" 
        use_gazebo="$(arg use_gazebo)" 
        use_fake_hardware="$(arg use_fake_hardware)"/>
    <xacro:include filename="$(find husky_xarm6_mcr_description)/urdf/xarm6/xarm6_ros2_control.xacro"/>
    <xacro:xarm6_ros2_control 
        namespace="$(arg manipulator_ns)" 
        prefix="$(arg manipulator_prefix)" 
        use_gazebo="$(arg use_gazebo)" 
        use_fake_hardware="$(arg use_fake_hardware)"
        robot_ip="$(arg robot_ip)" 
        report_type="$(arg report_type)"/>

    <!-- Gazebo plugin for controller manager (only needed once for whole robot) -->
    <xacro:if value="$(arg use_gazebo)">
        <gazebo>
            <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                <parameters>$(arg config_file)</parameters>
            </plugin>
        </gazebo>
    </xacro:if>

    <!-- MULTI CAMERA RIG -->
    <!-- TODO: Update this to use namespace and prefix later -->
    <xacro:include filename="$(find multi_camera_rig_description)/urdf/multi_camera_rig_macro.urdf.xacro"/>
    <xacro:multi_camera_rig use_gazebo="$(arg use_gazebo)"/>
    <joint name="tool_mount" type="fixed">
        <parent link="$(arg manipulator_ns)/$(arg manipulator_prefix)link_eef"/>
        <child link="multi_camera_rig_mount"/>
        <origin xyz="0.0 0.0 0.0" rpy="${pi/2} 0 0"/>
    </joint>

</robot>
