<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="swiftnav_duro" params="parent_link *origin">

        <!-- <material name="clearpath_dark_grey"><color rgba="0.2 0.2 0.2 1.0" /></material>
        <material name="clearpath_medium_grey"><color rgba="0.6 0.6 0.6 1.0" /></material>
        <material name="clearpath_light_grey"><color rgba="0.8 0.8 0.8 1.0" /></material>
        <material name="clearpath_yellow"><color rgba="0.8 0.8 0.0 1.0" /></material>
        <material name="clearpath_black"><color rgba="0.15 0.15 0.15 1.0" /></material> -->
        <material name="clearpath_white"><color rgba="1.0 1.0 1.0 1.0" /></material>
        <!-- <material name="clearpath_red"><color rgba="1.0 0.0 0.0 1.0" /></material> -->

        <link name="${name}_link">
            <visual>
                <material name="clearpath_white"/>
                <geometry>
                    <mesh filename="file://(find clearpath_sensors_description)/meshes/swift_antenna.stl"/>
                </geometry>
            </visual>
            <collision>
                <material name="clearpath_white"/>
                <origin xyz="0.0000 -0.0000 0.0324"/>
                <geometry>
                    <sphere radius="0.1122" />
                </geometry>
            </collision>
        </link>
        <joint name="${name}_joint" type="fixed">
            <child link="${name}_link"/>
            <parent link="${parent_link}"/>
            <xacro:insert_block name="origin"/>
        </joint>
        <gazebo reference="${name}_link">
            <sensor name="${name}" type="navsat">
                <always_on>1</always_on>
                <update_rate>1</update_rate>
                <ignition_frame_id>${name}_link</ignition_frame_id>
                <topic>gps/fix</topic>
            </sensor>
        </gazebo>
    </xacro:macro>
</robot>